$background-panel-content-color: #fff;

$panel-background-color: #f6f6f6;
$panel-border-color: #dce8f1;
$panel-padding: 25px;
$panel-border-radius: 10px;

.app-panel {
    width: 100%;
    margin-top: 20px;

    background-color: $panel-background-color;
    border-top: 1px solid $panel-border-color;
    padding: $panel-padding;
    text-align: center;
    -webkit-border-radius: $panel-border-radius;
    border-radius: $panel-border-radius;
}