.error-record {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #93b8d4;
  margin: 12.5px;
}

.error-record .header {
  height: 20px;
  opacity: 0.8;
}

.error-record .table {
  margin-bottom: 0px;
}

.error-record .no-margin {
  margin: 0px;
}

.muted {
  font-size: 80%;
  color: grey;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
